body {
  background: url(http://www.publicdomainpictures.net/pictures/30000/velka/cork-board.jpg) no-repeat center center;
  background-size: cover;
  background-attachment:fixed;
  font-family: 'Raleway', sans-serif;
}


  .add-note {
  	background-color: rgba(0,0,0,0.7);
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	margin-top: 0px;
  	padding: 20px 20px 20px 20px;
  	border-radius: 4px;
  	/*width: 800px;*/
    color: white;
  }
